T3_HOST_PORT=3774
PREVIEW_HOST_START=32000
PREVIEW_HOST_END=32049
STACK_SUBNET=172.30.20.0/24
DIND_BIP=10.61.0.1/24
DIND_ADDRESS_POOL=10.61.128.0/17
GIT_USER_NAME=Your Personal Name
GIT_USER_EMAIL=you@example.com
