T3_HOST_PORT=3773
PREVIEW_HOST_START=31000
PREVIEW_HOST_END=31049
STACK_SUBNET=172.30.10.0/24
DIND_BIP=10.60.0.1/24
DIND_ADDRESS_POOL=10.60.128.0/17
GIT_USER_NAME=Your Work Name
GIT_USER_EMAIL=you@work.example
